<!--THIS IS THE NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
   <a class="navbar-brand" href="homepage"><img src="gamego!.png" alt="logo" width="150" height="30"></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <a class="nav-link" href="homepage">HOME</a>
         </li>
      </ul>
   </div>
</nav>

<h1 class="heading" style="color:white;text-align:center;">Saved Games</h1>

<div class="container-fluid">
   <div class="row">
      {{#each games}}
      <div class="col-lg-4 col-md-6 col-sm-12 flip" id="savedGameCard">
         <div class="front" style="background-image: url({{dataValues.background_image}})">
            <h1 class="text-shadow">{{dataValues.name}}</h1>
         </div>
         <div class="back">
            <h2>{{dataValues.name}}</h2>
            <h7>Released: {{dataValues.released}}</h7>
            <br>
            {{#if dataValues.metacritic}}
            <h7>Metacritic: {{dataValues.metacritic}}</h7>
            {{/if}}
            <p class="descr">{{dataValues.description_raw}}</p>
            <button type="button" class="fullDetails btn btn-secondary" value="{{dataValues.gameId}}">Full Game
               Details</button>
            <button type="button" class="deleteGame btn btn-secondary" id="delete" value="{{dataValues.gameId}}"><i
                  class="fa fa-trash"></i></button>
         </div>
      </div>
      {{/each}}
   </div>
</div>
   <footer class="footer">
      <div class="container">
         <span class="text-muted">Data and Images sourced from <a href="https://rawg.io/">rawg.io</a></span>
      </div>
   </footer>

<script type="text/javascript" src="js/gameData.js"></script>
<script type="text/javascript" src="js/savedGames.js"></script>