<div class="content">
  <h1 class="heading">Saved Games</h1>
  <p class="description"></p>
  
  <a class="card" href="#!">
    <div class="front" style="background-image: url({{background_image}});">
      <p>{{name}}</p>
    </div>
    <div class="back">
      <div class="release_date">Released: {{released}}</div>
      <div>
        <p>{{description}}</p>
        <p>{{metacritic}}</p>
        <button class="button">Click Here</button>
      </div>
    </div>
  </a>
</div>
